<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="Module_9_Task_2.css" rel="stylesheet">
	
</head>
<body>

<div id="row-container">

	
</div>


<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

 <script type="text/template" id="row-tpl">
  
  
		<% obj.forEach(button => { %>
        <button><%- button %></button>
        <% }); %>
	
    
  </script>
    
  


<script type="text/javascript" src="Module_9_Task_2.js"></script>	
</body>
</html>